<button class="btn btn-default blog-title" name="blogName" type="submit">{{Blog Name}}</button>
<textarea class="form-control" name="blogInput" rows="3"></textarea>
<button type="button" name="publishButton" class="btn btn-default btn-lg active">Publish</button>
