<div class="input-group title-box">
  <input type="text" name="title" class="form-control" placeholder="Title" aria-describedby="basic-addon1">
</div>
<div class = "blog-post">
  <textarea name="body" class="form-control blog-box" rows="3"></textarea>
</div>
<button type="submit" class="btn btn-secondary submit-button">Submit</button>
