<div class="firstName">
  <label for="inputPassword" class="col-sm-2 control-label">First Name</label>
  <div class="col-sm-10">
    <input type="first-name" name="firstName" class="form-control" id="firstName">
  </div>
</div>
<div class="lastName">
  <label for="inputPassword" class="col-sm-2 control-label">Last Name</label>
  <div class="col-sm-10">
    <input type="last-name" name="lastName" class="form-control" id="lastName">
  </div>
</div>
<div class="address">
  <label for="inputPassword" class="col-sm-2 control-label">Address</label>
  <div class="col-sm-10">
    <input type="address" name="address" class="form-control" id="address">
  </div>
</div>
<div class="phoneNumber">
  <label for="inputPassword" class="col-sm-2 control-label">Phone Number</label>
  <div class="col-sm-10">
    <input type="phone-number" name="phoneNumber" class="form-control" id="phoneNumber">
  </div>
</div>
<button type="submit" class="btn btn-secondary submit-button">Submit</button>
